/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 23, 2015, 10:32:54 AM
    Author     : Anup Biswas <anup@illusivedesign.net>
*/

.gcol-xs-1, .gcol-sm-1, .gcol-md-1, .gcol-lg-1, .gcol-xs-2, .gcol-sm-2, .gcol-md-2, .gcol-lg-2, .gcol-xs-3, .gcol-sm-3, .gcol-md-3, .gcol-lg-3, .gcol-xs-4, .gcol-sm-4, .gcol-md-4, .gcol-lg-4, .gcol-xs-5, .gcol-sm-5, .gcol-md-5, .gcol-lg-5, .gcol-xs-6, .gcol-sm-6, .gcol-md-6, .gcol-lg-6, .gcol-xs-7, .gcol-sm-7, .gcol-md-7, .gcol-lg-7 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.gcol-xs-1, .gcol-xs-2, .gcol-xs-3, .gcol-xs-4, .gcol-xs-5, .gcol-xs-6, .gcol-xs-7 {
  float: left;
}
.gcol-xs-7 {
  width: 100%;
}
.gcol-xs-6 {
  width: 85.71428571%;
}
.gcol-xs-5 {
  width: 71.42857143%;
}
.gcol-xs-4 {
  width: 57.14285714%;
}
.gcol-xs-3 {
  width: 42.85714286%;
}
.gcol-xs-2 {
  width: 28.57142857%;
}
.gcol-xs-1 {
  width: 14.28571429%;
}
.gcol-xs-pull-7 {
  right: 100%;
}
.gcol-xs-pull-6 {
  right: 85.71428571%;
}
.gcol-xs-pull-5 {
  right: 71.42857143%;
}
.gcol-xs-pull-4 {
  right: 57.14285714%;
}
.gcol-xs-pull-3 {
  right: 42.85714286%;
}
.gcol-xs-pull-2 {
  right: 28.57142857%;
}
.gcol-xs-pull-1 {
  right: 14.28571429%;
}
.gcol-xs-pull-0 {
  right: auto;
}
.gcol-xs-push-7 {
  left: 100%;
}
.gcol-xs-push-6 {
  left: 85.71428571%;
}
.gcol-xs-push-5 {
  left: 71.42857143%;
}
.gcol-xs-push-4 {
  left: 57.14285714%;
}
.gcol-xs-push-3 {
  left: 42.85714286%;
}
.gcol-xs-push-2 {
  left: 28.57142857%;
}
.gcol-xs-push-1 {
  left: 14.28571429%;
}
.gcol-xs-push-0 {
  left: auto;
}
.gcol-xs-offset-7 {
  margin-left: 100%;
}
.gcol-xs-offset-6 {
  margin-left: 85.71428571%;
}
.gcol-xs-offset-5 {
  margin-left: 71.42857143%;
}
.gcol-xs-offset-4 {
  margin-left: 57.14285714%;
}
.gcol-xs-offset-3 {
  margin-left: 42.85714286%;
}
.gcol-xs-offset-2 {
  margin-left: 28.57142857%;
}
.gcol-xs-offset-1 {
  margin-left: 14.28571429%;
}
.gcol-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .gcol-sm-1, .gcol-sm-2, .gcol-sm-3, .gcol-sm-4, .gcol-sm-5, .gcol-sm-6, .gcol-sm-7 {
    float: left;
  }
  .gcol-sm-7 {
    width: 100%;
  }
  .gcol-sm-6 {
    width: 85.71428571%;
  }
  .gcol-sm-5 {
    width: 71.42857143%;
  }
  .gcol-sm-4 {
    width: 57.14285714%;
  }
  .gcol-sm-3 {
    width: 42.85714286%;
  }
  .gcol-sm-2 {
    width: 28.57142857%;
  }
  .gcol-sm-1 {
    width: 14.28571429%;
  }
  .gcol-sm-pull-7 {
    right: 100%;
  }
  .gcol-sm-pull-6 {
    right: 85.71428571%;
  }
  .gcol-sm-pull-5 {
    right: 71.42857143%;
  }
  .gcol-sm-pull-4 {
    right: 57.14285714%;
  }
  .gcol-sm-pull-3 {
    right: 42.85714286%;
  }
  .gcol-sm-pull-2 {
    right: 28.57142857%;
  }
  .gcol-sm-pull-1 {
    right: 14.28571429%;
  }
  .gcol-sm-pull-0 {
    right: auto;
  }
  .gcol-sm-push-7 {
    left: 100%;
  }
  .gcol-sm-push-6 {
    left: 85.71428571%;
  }
  .gcol-sm-push-5 {
    left: 71.42857143%;
  }
  .gcol-sm-push-4 {
    left: 57.14285714%;
  }
  .gcol-sm-push-3 {
    left: 42.85714286%;
  }
  .gcol-sm-push-2 {
    left: 28.57142857%;
  }
  .gcol-sm-push-1 {
    left: 14.28571429%;
  }
  .gcol-sm-push-0 {
    left: auto;
  }
  .gcol-sm-offset-7 {
    margin-left: 100%;
  }
  .gcol-sm-offset-6 {
    margin-left: 85.71428571%;
  }
  .gcol-sm-offset-5 {
    margin-left: 71.42857143%;
  }
  .gcol-sm-offset-4 {
    margin-left: 57.14285714%;
  }
  .gcol-sm-offset-3 {
    margin-left: 42.85714286%;
  }
  .gcol-sm-offset-2 {
    margin-left: 28.57142857%;
  }
  .gcol-sm-offset-1 {
    margin-left: 14.28571429%;
  }
  .gcol-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .gcol-md-1, .gcol-md-2, .gcol-md-3, .gcol-md-4, .gcol-md-5, .gcol-md-6, .gcol-md-7 {
    float: left;
  }
  .gcol-md-7 {
    width: 100%;
  }
  .gcol-md-6 {
    width: 85.71428571%;
  }
  .gcol-md-5 {
    width: 71.42857143%;
  }
  .gcol-md-4 {
    width: 57.14285714%;
  }
  .gcol-md-3 {
    width: 42.85714286%;
  }
  .gcol-md-2 {
    width: 28.57142857%;
  }
  .gcol-md-1 {
    width: 14.28571429%;
  }
  .gcol-md-pull-7 {
    right: 100%;
  }
  .gcol-md-pull-6 {
    right: 85.71428571%;
  }
  .gcol-md-pull-5 {
    right: 71.42857143%;
  }
  .gcol-md-pull-4 {
    right: 57.14285714%;
  }
  .gcol-md-pull-3 {
    right: 42.85714286%;
  }
  .gcol-md-pull-2 {
    right: 28.57142857%;
  }
  .gcol-md-pull-1 {
    right: 14.28571429%;
  }
  .gcol-md-pull-0 {
    right: auto;
  }
  .gcol-md-push-7 {
    left: 100%;
  }
  .gcol-md-push-6 {
    left: 85.71428571%;
  }
  .gcol-md-push-5 {
    left: 71.42857143%;
  }
  .gcol-md-push-4 {
    left: 57.14285714%;
  }
  .gcol-md-push-3 {
    left: 42.85714286%;
  }
  .gcol-md-push-2 {
    left: 28.57142857%;
  }
  .gcol-md-push-1 {
    left: 14.28571429%;
  }
  .gcol-md-push-0 {
    left: auto;
  }
  .gcol-md-offset-7 {
    margin-left: 100%;
  }
  .gcol-md-offset-6 {
    margin-left: 85.71428571%;
  }
  .gcol-md-offset-5 {
    margin-left: 71.42857143%;
  }
  .gcol-md-offset-4 {
    margin-left: 57.14285714%;
  }
  .gcol-md-offset-3 {
    margin-left: 42.85714286%;
  }
  .gcol-md-offset-2 {
    margin-left: 28.57142857%;
  }
  .gcol-md-offset-1 {
    margin-left: 14.28571429%;
  }
  .gcol-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .gcol-lg-1, .gcol-lg-2, .gcol-lg-3, .gcol-lg-4, .gcol-lg-5, .gcol-lg-6, .gcol-lg-7 {
    float: left;
  }
  .gcol-lg-7 {
    width: 100%;
  }
  .gcol-lg-6 {
    width: 85.71428571%;
  }
  .gcol-lg-5 {
    width: 71.42857143%;
  }
  .gcol-lg-4 {
    width: 57.14285714%;
  }
  .gcol-lg-3 {
    width: 42.85714286%;
  }
  .gcol-lg-2 {
    width: 28.57142857%;
  }
  .gcol-lg-1 {
    width: 14.28571429%;
  }
  .gcol-lg-pull-7 {
    right: 100%;
  }
  .gcol-lg-pull-6 {
    right: 85.71428571%;
  }
  .gcol-lg-pull-5 {
    right: 71.42857143%;
  }
  .gcol-lg-pull-4 {
    right: 57.14285714%;
  }
  .gcol-lg-pull-3 {
    right: 42.85714286%;
  }
  .gcol-lg-pull-2 {
    right: 28.57142857%;
  }
  .gcol-lg-pull-1 {
    right: 14.28571429%;
  }
  .gcol-lg-pull-0 {
    right: auto;
  }
  .gcol-lg-push-7 {
    left: 100%;
  }
  .gcol-lg-push-6 {
    left: 85.71428571%;
  }
  .gcol-lg-push-5 {
    left: 71.42857143%;
  }
  .gcol-lg-push-4 {
    left: 57.14285714%;
  }
  .gcol-lg-push-3 {
    left: 42.85714286%;
  }
  .gcol-lg-push-2 {
    left: 28.57142857%;
  }
  .gcol-lg-push-1 {
    left: 14.28571429%;
  }
  .gcol-lg-push-0 {
    left: auto;
  }
  .gcol-lg-offset-7 {
    margin-left: 100%;
  }
  .gcol-lg-offset-6 {
    margin-left: 85.71428571%;
  }
  .gcol-lg-offset-5 {
    margin-left: 71.42857143%;
  }
  .gcol-lg-offset-4 {
    margin-left: 57.14285714%;
  }
  .gcol-lg-offset-3 {
    margin-left: 42.85714286%;
  }
  .gcol-lg-offset-2 {
    margin-left: 28.57142857%;
  }
  .gcol-lg-offset-1 {
    margin-left: 14.28571429%;
  }
  .gcol-lg-offset-0 {
    margin-left: 0%;
  }
}
/*# sourceMappingURL=bootstrap.css.map */